body {
  margin: 0;
  font-family: Arial, sans-serif;
  transition: background 0.3s, color 0.3s;
}

.light {
  background: #f3f4f6;
  color: #111;
}

.dark {
  background: #0f172a;
  color: #f8fafc;
}

.card {
  background: white;
  color: black;
}

.dark .card {
  background: #020617;
  color: white;
}

select, button {
  padding: 10px;
  width: 100%;
  margin-top: 10px;
  border-radius: 6px;
}
